
  
  .home {
    padding: 30px;
    text-align: center;
  }
  
  input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(5, 160px);
    gap: 20px;
    justify-content: center;
  }
  
  .home {
    width: 140px;
    margin-bottom: 10px;
    align-items: center;
    
  }